body{
   
    background-image: url(./163426959792716342695971.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.loginCard{
    width: fit-content;
    padding:20px 40px;
    margin:200px auto;
    border: 1px solid rgb(23, 22, 22);
    border-radius: 4px;
    box-shadow: 2px 2px 10px 1px rgb(113, 113, 113);
}
.loginCard .logo{
    width:  100px;
    height: 90px;
    margin-left:70px;
    transform: translateY(20px);
 
}
.loginCard .logo img{
    width: 100%;
}
/* 修饰登陆页面 */
